.div-editor-page{
    height: auto;
}
.inp-user-title{
    background-color: transparent;
    height: 40px;
    width: 100%;
    text-align: center;
    border-style: none;
}

/*-------------------------头部 starts--------------------------------*/
.page.-intro {
    background-image: linear-gradient(to bottom,#71BA51 0,#00B16A 100%);
    min-height: 300px;
}

.site-header {
    margin-top: 58px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}
.site-header p{
    margin-bottom: 15px;
    font-size: 21px;
}
.site-nav {
    position: absolute;
    top: 15px;
    right: 30px;
    padding-top: 30px;
    z-index: 1100;
}

.site-nav a {
    color: #eee;
}
.site-notice {
    padding: 5px 30px;
    text-align: right;
    background-color: #52AF47;
}
.site-notice a {
    color: #eee;
}
.site-notice em {
    font-style: normal;
}
.site-header .search {
    border: 2px solid #27AE60;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}
/*-------------------------头部 end-1--------------------------------*/
.div-tree-all{
    height: auto;
    border-right: 1px solid red;
    width: 20%;
}

.f-dw {
    display: block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.f-mw60 {
    width: 60%;
}