.div-editor-page{
    height: auto;
}


/*-------------------------头部 starts--------------------------------*/
.page.-intro {
    background-image: linear-gradient(to bottom,#71BA51 0,#00B16A 100%);
    height: 100%;
}

.site-header {
    margin-top: 58px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}
.site-header p{
    margin-bottom: 15px;
    font-size: 21px;
}
.site-nav {
    position: absolute;
    top: 15px;
    right: 30px;
    padding-top: 30px;
    z-index: 1100;
}

.site-nav a {
    color: #eee;
}
.site-notice {
    padding: 5px 30px;
    text-align: right;
    background-color: #52AF47;
}
.site-notice a {
    color: #eee;
}
.site-notice em {
    font-style: normal;
}
.site-header .search {
    /*border: 2px solid #27AE60;*/
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}
/*-------------------------头部 end-1--------------------------------*/
#issue_btn{
    background: #ff746e;
}
.inp-title-sty{
    width: 100%;
    margin-bottom: 10px;
}
.div-type{
    width: 25%;
}
.input-group .form-control{
    width: 75%;
}
#div_type{
    width: 100%;
}

.l-text {
    /*position: relative;*/
    /*border: 1px solid #AECAF0;*/
    /*line-height: 20px;*/
    width: 100%;
    /*background: white;*/
}
.l-trigger{
    display: none;
}